.activities{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 45px;
    margin: 50px 50px;
}
@media only screen and (max-width: 600px) {
    .activities{
        display: grid;
        grid-template-columns: 1fr;
    }
  }